.container {
  background-color: white;
  padding: 20px;
}
.number {
  span {
    background-color: var(--orange);
    z-index: 99999;
    position: relative;
    left: -14px;
  }
}
// td {
//   display: flex;
//   gap: 20px;
// }
