<mat-toolbar class="navbar">
  <div fxShow="true" fxHide.gt-sm="true">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="sidenav.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <a routerLink="/" class="logohref"
    ><img src="/assets/images/logo_psk.jpg" alt="logo" class="logo"
  /></a>
  <span class="example-spacer"></span>
  <div class="linksContainer">
    <div *ngIf="user" class="dropdown">
      <a routerLink="/" class="dropbtn"
        >{{ user.firstName }} {{ user.lastName }}</a
      >
      <div class="dropdown-content" *ngIf="user.studentStatus === 2">
        <a [routerLink]="['/student/application-for-intership']">{{
          "applicationForPractice" | translate
        }}</a>
        <a [routerLink]="['/student/passing-intership']">{{
          "applicationForPracticeApprove" | translate
        }}</a>
      </div>
      <div class="dropdown-content" *ngIf="user.staffStatus === 2">
        <a [routerLink]="['/admin/students-list']">{{
          "studentsList" | translate
        }}</a>
        <a [routerLink]="['/admin/interships-dates']">{{
          "internDates" | translate
        }}</a>
        <a [routerLink]="['/admin/request-new-dates']">{{
          "request-new-dates" | translate
        }}</a>
      </div>
    </div>
    <a *ngIf="user" (click)="logoutHandler()">{{ "logout" | translate }}</a>
  </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav
    color="primary"
    #sidenav
    fxLayout="column"
    mode="over"
    opened="false"
    fxHide.gt-sm="true"
  >
    <div fxLayout="column" class="linksContainer sidebar">
      <ng-container>
        <div class="dropdown">
          <a routerLink="/player-panel" class="dropbtn">2222</a>
          <div class="dropdown-content">
            <a routerLink="/player-panel/history">3</a>
            <a routerLink="/player-panel/dashboard">Dashboard</a>
          </div>
        </div>
      </ng-container>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
