.example-spacer {
  flex: 1 1 auto;
}

.navbar {
  border-bottom: 4px solid var(--orange);
}

.mat-icon {
  color: black;
}

.logo {
  height: 50px;
}
.navbar {
  background-color: white;
  width: 100vw;
  z-index: 100;
}

a {
  cursor: pointer;
  color: var(--orange);
  text-decoration: none;
}
.logohref {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar > .dropdown,
a {
  margin: 15px 0;
}
.linksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-right: 1vw;
  &.sidebar {
    padding: 30px;
  }

  a {
    :hover {
      color: "";
    }
  }
}
mat-sidenav-content {
}

.dropbtn {
  color: var(--orange);

  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
  z-index: 99;
}

.dropdown-content a {
  color: var(--orange);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.9em;
}
.dropdown-content a:hover {
  background-color: rgb(236, 236, 236);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 958px) {
  .linksContainer {
    display: none;
  }
}
