.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    color: #ef7a1b;
  }
  .form {
    width: 80vw;
    padding: 20px;
    box-shadow: 0px 4px 8px 0px rgba(32, 32, 32, 0.08);
    background-color: white;
  }
}
