<div class="container">
  <div class="form">
    <h1>Złóż podanie o zaliczenie praktyki studenckiej</h1>
    <ng-container
      [ngTemplateOutlet]="nextActive ? secondFormTemplate : firstFormTemplate"
    ></ng-container>
  </div>
</div>

<ng-template #firstFormTemplate>
  <app-pass-form (passFormSubmitHandle)="passSubmitHandler($event)" />
</ng-template>

<ng-template #secondFormTemplate
  ><app-attestation-form
    (attestationFormSubmitHandler)="attestationSubmitHandler($event)"
    (printPdf)="printPDF($event)"
  />
</ng-template>
