.container {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  h1 {
    color: white;
  }
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  .form {
    width: 40vw;
  }
}
