.container {
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  background-image: url("/assets/images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
