<form [formGroup]="attestationForm" (ngSubmit)="submitHandler()">
  <div class="formContainer">
    <div class="formItem">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>{{ "studentsInternCompanyName" | translate }}</mat-label>
          <input matInput formControlName="companyName" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>{{ "address" | translate }}</mat-label>
          <input matInput formControlName="companyAddress" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>{{ "Business profile" | translate }}</mat-label>
          <input matInput formControlName="companyProfile" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>{{ "studentPosition" | translate }}</mat-label>
          <input matInput formControlName="workStation" />
        </mat-form-field>
      </p>
    </div>
    <div class="formItem">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>{{ "workingHours" | translate }}</mat-label>
          <input matInput formControlName="workTime" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>{{ "responsibilities" | translate }}</mat-label>
          <textarea
            formControlName="practicesBase"
            formControlName="studentResponsibilities"
            matInput
          ></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>
            {{ "companyConfirmingPerson" | translate }}
          </mat-label>
          <input formControlName="studentSuperviser" matInput />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>{{ "additionalComments" | translate }}</mat-label>
          <textarea formControlName="comments" matInput></textarea>
        </mat-form-field>
      </p>
    </div>
  </div>
  <button
    type="submit"
    mat-flat-button
    style="background-color: #ef7a1b; color: white"
  >
    {{ "download" | translate }}
  </button>

  <button
    type="button"
    mat-flat-button
    style="background-color: #ef7a1b; color: white; margin-top: 20px"
    (click)="submitPrintPdf()"
  >
    {{ "print" | translate }}
  </button>
</form>
