.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .box {
    padding: 50px 30px;
    background-color: white;

    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 8px 0px rgba(32, 32, 32, 0.08);

    .controls {
      display: flex;
      flex-direction: column;

      button {
        margin-top: 15px;
      }
    }
  }
}
