<div class="container">
  <div class="box">
    <h1>{{ "chooseAction" | translate }}</h1>

    <div class="controls">
      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/student/application-for-intership']"
      >
        {{ "applicationForPractice" | translate }}
      </button>
      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/student/passing-intership']"
      >
        {{ "applicationForPracticeApprove" | translate }}
      </button>
      <button
        mat-flat-button
        color="primary"
        [routerLink]="['/student/date-of-practise']"
      >
        {{ "Wnioskowanie o zmianę terminu odbywania praktyk" }}
      </button>
    </div>
  </div>
</div>
