<form [formGroup]="passForm">
  <div class="formContainer">
    <div class="formItem">
      <p>
        <mat-form-field>
          <mat-label>{{ "studyProgramme" | translate }}</mat-label>
          <mat-select
            *ngFor="let programme of userMock.studentProgrammes"
            formControlName="programme"
          >
            <mat-option [value]="programme.id">{{
              programme.programme
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>{{ "formOfStudy" | translate }}</mat-label>
          <mat-select formControlName="studiesForm">
            <mat-option value="zaoczne">{{
              "partTime" | translate
            }}</mat-option>
            <mat-option value="stacjonarne">{{
              "stationary" | translate
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>{{ "studyYear" | translate }}</mat-label>
          <input type="number" formControlName="year" matInput />
        </mat-form-field>
      </p>
    </div>
    <div class="formItem">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>{{ "deputyDean" | translate }}</mat-label>
          <input formControlName="deputyDean" matInput />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>{{ "academicYear" | translate }}</mat-label>
          <input formControlName="academicYear" matInput />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>{{ "internBase" | translate }} </mat-label>
          <textarea formControlName="practicesBase" matInput></textarea>
        </mat-form-field>
      </p>
    </div>
  </div>
  <button
    (click)="submitHandler()"
    mat-flat-button
    style="background-color: #ef7a1b"
  >
    {{ "next" | translate }}
  </button>
</form>
