form {
  width: 80vw;
  padding: 20px;
  box-shadow: 0px 4px 8px 0px rgba(32, 32, 32, 0.08);
  background-color: white;
  flex-direction: column;
  padding: 20px;
  display: flex;
  border-radius: 3px;
  margin: 0 auto;
  button {
    margin-top: 40px;
  }
}
