/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  --mat-sidenav-content-background-color: #f8f8ff;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f8f8ff;
}
:root {
  --orange: #ef7a1b;
  --red: #c92130;
  --green: #006b42;
}
.mat-drawer-inner-container.ng-tns-c3816625663-0 {
  overflow: visible;
}
mat-sidenav {
  overflow: visible !important;
}
