<div class="container">
  <form
    class="formContainer"
    [formGroup]="signInForm"
    (ngSubmit)="signInHandler()"
  >
    <h1>{{ "sign" | translate }}</h1>
    <mat-form-field>
      <mat-label>{{ "email" | translate }}</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="signInForm.invalid"
    >
      {{ "login" | translate }}
    </button>
    <br />
    <br />
    <app-switch-language></app-switch-language>
  </form>
</div>
