<div class="container">
  <form [formGroup]="applicationForm">
    <h1>{{ "applicationForPractice" | translate }}</h1>
    <div class="formContainer">
      <div class="inputsRow">
        <div class="formItem">
          <mat-form-field class="example-full-width">
            <mat-label>{{ "agreementDate" | translate }}</mat-label>
            <input matInput type="date" formControlName="agreementDate" />
          </mat-form-field>
        </div>
        <div class="formItem">
          <mat-form-field>
            <mat-label>{{ "department" | translate }}</mat-label>
            <mat-select formControlName="department">
              <mat-option value="Elektrotechniki, Automatyki i Informatyki">{{
                "weaii" | translate
              }}</mat-option>
              <mat-option value="Budownictwa i Architektury">{{
                "bia" | translate
              }}</mat-option>
              <mat-option value="Mechatroniki i Budowy Maszyn">{{
                "mibm" | translate
              }}</mat-option>
              <mat-option
                value="Inżynierii Środowiska, Geodezji i Energetyki
              Odnawialnej"
                >{{ "isge" | translate }}</mat-option
              >
              <mat-option value="Zarządzania i Modelowania Komputerowego">{{
                "zimk" | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <h2>{{ "infoAboutCompany" | translate }}</h2>
      <div formGroupName="company">
        <div class="inputsRow">
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>NIP</mat-label>
              <input
                (blur)="getCompanyByNip()"
                matInput
                type="text"
                formControlName="nip"
              />
            </mat-form-field>
          </div>
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>REGON</mat-label>
              <input matInput type="text" formControlName="regon" />
            </mat-form-field>
          </div>
        </div>
        <div class="inputsRow">
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>{{ "companyName" | translate }}</mat-label>
              <input matInput type="text" formControlName="companyName" />
            </mat-form-field>
          </div>
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>{{ "address" | translate }}</mat-label>
              <input matInput type="text" formControlName="address" />
            </mat-form-field>
          </div>
        </div>
        <div class="inputsRow">
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>KRS</mat-label>
              <input matInput type="text" formControlName="krs" />
            </mat-form-field>
          </div>
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>{{
                "representativeOfTheCompany" | translate
              }}</mat-label>
              <input
                matInput
                type="text"
                formControlName="companyRepresentedBy"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="inputsRow">
        <div class="formItem" style="width: 100%">
          <mat-form-field>
            <mat-label>{{ "internshipDate" | translate }}</mat-label>
            <mat-select formControlName="internDateRange">
              <mat-option *ngFor="let date of dates" value="date.id"
                >{{ date.range.start | date }} -
                {{ date.range.end | date }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <h2>{{ "contactInfo" | translate }}</h2>
      <h3>{{ "internCompanySupervisor" | translate }}</h3>
      <div formGroupName="companySupervisorContact">
        <div class="inputsRow">
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>{{ "email" | translate }}</mat-label>
              <input matInput type="text" formControlName="emailAddress" />
            </mat-form-field>
          </div>
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>{{ "phoneNumber" | translate }}</mat-label>
              <input matInput type="text" formControlName="phoneNumber" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <h3>{{ "internUniversitySupervisor" | translate }}</h3>
      <div formGroupName="universitySupervisorContact">
        <div class="inputsRow">
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>{{ "email" | translate }}</mat-label>
              <input matInput type="text" formControlName="emailAddress" />
            </mat-form-field>
          </div>
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>{{ "phoneNumber" | translate }}</mat-label>
              <input matInput type="text" formControlName="phoneNumber" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="submitHandler()"
      mat-flat-button
      color="primary"
      [disabled]="applicationForm.invalid"
    >
      {{ "submit" | translate }}
    </button>

    <button
      (click)="printSubmit()"
      mat-flat-button
      color="accent"
      style="margin-top: 20px"
      [disabled]="applicationForm.invalid"
    >
      {{ "print" | translate }}
    </button>
  </form>
</div>
