.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field,
button {
  width: 100%;
}
form {
  width: 80vw;
  padding: 20px;
  box-shadow: 0px 4px 8px 0px rgba(32, 32, 32, 0.08);
  background-color: white;
  flex-direction: column;
}
.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.formItem {
  width: 50%;
  margin-right: 30px;
  margin: 20px 20px;
}

.inputsRow {
  display: flex;
}
