<div class="container">
  <form [formGroup]="applicationForm">
    <h1>Złóż podanie o praktyki</h1>
    <div class="formContainer">
      <div class="inputsRow">
        <div class="formItem">
          <mat-form-field class="example-full-width">
            <mat-label>Data zawarcia umowy</mat-label>
            <input matInput type="date" formControlName="agreementDate" />
          </mat-form-field>
        </div>
        <div class="formItem">
          <mat-form-field class="example-full-width">
            <mat-label>Wydział</mat-label>
            <input matInput type="text" formControlName="department" />
          </mat-form-field>
        </div>
      </div>
      <h2>Informacje o firmie</h2>
      <div formGroupName="company">
        <div class="inputsRow">
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>Nazwa firmy</mat-label>
              <input matInput type="text" formControlName="companyName" />
            </mat-form-field>
          </div>
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>Miasto</mat-label>
              <input matInput type="text" formControlName="companyCity" />
            </mat-form-field>
          </div>
        </div>
        <div class="inputsRow">
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>Ulica</mat-label>
              <input matInput type="text" formControlName="companyStreet" />
            </mat-form-field>
          </div>
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>KRS</mat-label>
              <input matInput type="text" formControlName="krs" />
            </mat-form-field>
          </div>
        </div>
        <div class="inputsRow">
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>NIP</mat-label>
              <input matInput type="text" formControlName="nip" />
            </mat-form-field>
          </div>
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>REGON</mat-label>
              <input matInput type="text" formControlName="regon" />
            </mat-form-field>
          </div>
        </div>
        <div class="inputsRow">
          <div class="formItem" style="width: 100%">
            <mat-form-field class="example-full-width">
              <mat-label>Osoba reprezentacyjna firmy</mat-label>
              <input
                matInput
                type="text"
                formControlName="companyRepresentedBy"
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="inputsRow">
        <div class="formItem" style="width: 100%">
          <mat-form-field>
            <mat-label>Okres odbycia praktyk</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                placeholder="Start date"
                formControlName="internStartDate"
              />
              <input
                matEndDate
                placeholder="End date"
                formControlName="internEndDate"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </div>
      <h2>Informacje kontaktowe</h2>
      <h3>Opiekun praktyk w zakładzie pracy</h3>
      <div formGroupName="companySupervisorContact">
        <div class="inputsRow">
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>Email kontaktowy</mat-label>
              <input matInput type="text" formControlName="emailAddress" />
            </mat-form-field>
          </div>
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>Numer telefonu</mat-label>
              <input matInput type="text" formControlName="phoneNumber" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <h3>Opiekun praktyk politechniki</h3>
      <div formGroupName="universitySupervisorContact">
        <div class="inputsRow">
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>Email kontaktowy</mat-label>
              <input matInput type="text" formControlName="emailAddress" />
            </mat-form-field>
          </div>
          <div class="formItem">
            <mat-form-field class="example-full-width">
              <mat-label>Numer telefonu</mat-label>
              <input matInput type="text" formControlName="phoneNumber" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="submitHandler()"
      mat-flat-button
      color="primary"
      [disabled]="applicationForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
